.container {
    display: flex;
    flex-direction: column;
    padding: var(--medium-margins) 0;
}

.postDetails {
    margin: var(--medium-margins) 0;
}

.title {
    margin: var(--small-margins) 0;
}

.tagline {
    color: var(--secondary-text-color);
    margin: var(--small-margins) 0;
}

.divider {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: var(--large-margins);
    display: block;
}

.mainContent {
    margin-bottom: var(--large-margins);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.headerImage {
    max-width: 700px;
    width: 100%;
    display:block;
    margin: var(--small-margins) 0;
}

.additionContent {
    margin: auto;
}


@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .additionContent {
        margin: var(--large-margins);
    }
}