.container {
    display: flex;
    flex-direction: column;
}

.postDetails {
    margin: var(--medium-margins) 0;
}

.title {
    font-size: var(--large-font);
    margin: var(--small-margins) 0;
}

.tagline {
    font-size: var(--medium-font);
    color: rgba(0, 0, 0, 0.726);
    margin: var(--small-margins) 0;
}

.publishDate {
    font-size: var(--very-small-font);
    color: rgba(0, 0, 0, 0.726);
}

.divider {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: var(--large-margins);
}

.content {
    font-size: var(--small-font);
    padding: var(--medium-margins);
}

.section {
    margin: var(--large-margins);
}

.headerImage {
    max-width: 700px;
}


@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .additionContent {
        margin: var(--large-margins);
    }
}