.container {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  box-shadow: var(--box-shadow);
  width: var(--compact-preview-width);
  height: var(--review-preview-height);
  margin: var(--medium-margins) 0;
  max-width: var(--compact-preview-max-width);
  min-width: 300px;
}

.container:hover {
  cursor: pointer;
}

.details {
  padding: var(--small-margins);
  padding-bottom: var(--medium-margins);
  margin: auto 0;
}

.details h2 {
  font-size: var(--medium-font);
  margin-bottom: 5px;
  font-weight: bold;
}

.details h3 {
  font-size: var(--small-font);
  font-weight: normal;
  margin: 0;
}

.grade {
  background-color: black;
  color: white;
  margin-left: auto;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade h3 {
  font-size: 1.4em;
  font-weight: bold;
}
