.container {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 45px;
  max-width: var(--feature-preview-max-width);
  padding-bottom: 30px;
  border-bottom: 1px solid var(--secondary-site-color);
}

.container:hover {
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  /* margin-bottom: auto; */
}

.details {
  height: auto;
}

.details h2 {
  font-size: var(--large-font);
  margin: 0;
}

.details p {
  font-size: var(--small-font);
}

.postMetadata {
  color: var(--primary-site-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-style: italic;
  vertical-align: middle;
}

.postMetadata span {
  color: var(--secondary-site-color);
  margin: auto 0;
  margin-bottom: var(--small-margins);
}

.date {
  margin-left: var(--small-margins);
  margin-bottom: var(--small-margins);
}

.category {
  margin-right: var(--small-margins);
  font-weight: bold;
  margin-bottom: var(--small-margins);
}

@media only screen and (min-width: 768px) {
  .container {
    height: 300px;
    width: 100%;
    flex-direction: row;
    margin: var(--large-margins) auto;
    border-bottom: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: var(--compact-preview-width);
    height: 200px;
    flex-direction: row;
    margin: var(--large-margins) auto;
  }

  .details h2 {
    font-size: var(--large-font);
    width: 80%;
    margin: 0;
  }

  .thumbnail {
    width: 100%;
  }

  .details {
    height: auto;
    margin: 0 25px;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: var(--large-margins) 0;
  }
}
