.navbarContainer {
  display: flex;
  flex-direction: row;
  padding: var(--small-margins) var(--medium-margins);
  align-items: center;
}

.hamburgerContainer {
  margin-left: auto;
}

.hamburgerTop,
.hamburgerMiddle,
.hamburgerBottom {
  border-top: 2px solid black;
  border-radius: 100px;
  width: 30px;
  margin: 5px;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 65vw;
  height: 100vh;
  background-color: whitesmoke;
  padding: var(--medium-margins);
  transform: translateX(-120%);
}

.menuTitle {
  margin-top: var(--medium-margins);
  margin-bottom: var(--large-margins);
}

.menuItem {
  margin: var(--large-margins) 0;
}

.menuEnterActive {
  transform: translateX(-120%);
}

.menuEnterDone {
  transform: translateX(-5%);
  transition: transform 200ms;
  transition-timing-function: ease-out;
}

.menuExitActive {
  transform: translateX(-5%);
}

.menuExitDone {
  transform: translateX(-120%);
  transition: transform 200ms;
  transition-timing-function: ease-out;
}

.menuBackground {
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.479);
  width: 100vw;
  height: 100vh;
  display: none;
}

.menuBackgroundEnterActive {
  opacity: 0;
  display: block;
}

.menuBackgroundEnterDone {
  opacity: 1;
  transition: opacity 200ms;
  transition-timing-function: ease-out;
  display: block;
}

.menuBackgroundExitActive {
  opacity: 1;
  display: block;
}

.menuBackgroundExitDone {
  opacity: 0;
  transition: opacity 200ms;
  transition-timing-function: ease-out;
  display: none;
}

.navbarLinks {
  display: none;
}

.logo {
  height: 25px;
}

.logo:hover {
  cursor: pointer;
}

.menuItem {
  font-size: var(--small-font);
  font-weight: bold;
  color: var(--primary-site-color);
  padding-left: 15px;
}

.menuItem:hover {
  cursor: pointer;
  color: var(--secondary-site-color);
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .navbarContainer {
    vertical-align: middle;
    border-bottom: 1px solid var(--secondary-site-color);
    margin-bottom: var(--large-margins);
  }

  .navbarLinks {
    display: flex;
    flex-direction: row;
    margin-left: var(--medium-margins);
  }

  .hamburgerContainer {
    display: none;
  }

  .navbarItem {
    margin: auto var(--large-margins);
  }

  .navbarItem {
    font-weight: bold;
  }

  .navbarItem p {
    margin: auto;
  }

  .navbarItem:hover {
    color: var(--secondary-site-color);
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) {
}
