h1 {
  font-size: var(--large-font);
}

h2 {
  /* font-size: var(--medium-font) !important; */
}

h3 {
  font-size: var(--small-font) !important;
}

p {
  font-family: 'Roboto' !important;
}

body {
    color: var(--default-text-color);
    background-color: var(--site-background-color);
}