html *
{
   font-family: 'Oxygen', sans-serif;
}

:root {
    --icon-width-small: 15%;
    --icon-width: 20%;
    --margin: 20px;
    --image-padding: 5px;
    --extra-small-margins: 5px;
    --small-margins: 10px;
    --medium-margins: 20px;
    --large-margins: 30px;
    --very-large-margins: 40px;
    --content-margins: 75px;
    --compact-preview-height: 320px;
    --review-preview-height: 100px;

    --compact-preview-width: 100%;
    --banner-width: 70%;
    --compact-preview-max-width: 600px;
    --feature-preview-max-width: 900px;
    --grade-width: 20%;
    --very-small-font: .9em;
    --small-font: 1.2em;
    --medium-font: 1.4em;
    --large-font: 1.5em;
    --very-large-font: 2em;
    --box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    --label-height: 35px;
    --search-box-height: 45px;
    --footer-height: 80px;
    --main-search-margin: 150px;
    --default-text: 1em;
    --default-text-color: #333;
    --secondary-text-color: rgba(51, 51, 51, 0.856);
    --primary-site-color: #8a3033;
    --secondary-site-color: #F4AB40;
    --site-background-color: #fafafa;
    --bottom-page-padding: 200px;
    --max-site-width: 1200px;
    --deafult-word-spacing: 1px;
    --default-content-width: 650px;
}