.container {
    width: 100%;
    height: var(--footer-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--medium-margins);
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px var(--primary-site-color) solid;
}

.branding {
    display: flex;
    margin: var(--medium-margins);
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

.siteName {
    padding-right: var(--medium-margins);
    margin: auto;
    margin-right: var(--small-margins);
    border-right: 3px solid var(--secondary-site-color);
    font-weight: bold;
    font-size: var(--small-font);
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: var(--small-margins);
}

.socialIcons img{
    width: 25px;
    margin: var(--small-margins);
}

.nav {
    border-bottom: 1px black solid;
    margin: var(--small-margins);
    padding: var(--small-margins);
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav li {
    margin: 0 var(--small-margins);
}

.homeLink {
    text-decoration: none;
    color: var(--default-text-color);
}

.homeLink {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        height: var(--footer-height);
    }

    .branding {
        margin: 0;
    }

    .nav {
        border-bottom: none;
        border-right: 1px black solid;
        margin: 0;
    }

    .nav ul {
        flex-direction: column;
    }
    
    .nav li {
        margin: var(--small-margins);
    }

}
