@import "../globalStyles.css";

.container {
  display: flex;
  flex-direction: row;
  box-shadow: var(--box-shadow);
  height: var(--compact-preview-height);
  width: var(--compact-preview-width);
  max-width: var(--compact-preview-max-width);
  margin: var(--medium-margins) 0;
  min-width: 400px;
}

.container:hover {
  cursor: pointer;
}

.thumbnail {
  max-height: var(--compact-preview-height);
  max-width: 150px;
}

.title {
  font-size: var(--medium-font);
  padding: var(--small-margins) var(--medium-margins) var(--medium-margins) var(--medium-margins);
}

.category {
  font-size: var(--small-font);
  margin-top: var(--small-margins);
  padding: 0 var(--medium-margins);
  font-weight: bold;
  text-decoration: underline;
}