@import "../globalStyles.css";

.container {
  display: flex;
  flex-direction: row;
  box-shadow: var(--box-shadow);
  height: var(--compact-preview-height);
  width: var(--compact-preview-width);
  max-width: var(--compact-preview-max-width);
  margin: var(--medium-margins) 0;
  min-width: 400px;
}

.container:hover {
  cursor: pointer;
}

.thumbnail {
  max-height: var(--compact-preview-height);
  max-width: 150px;
}

.title {
  font-size: var(--small-font);
  font-weight: bold;
  padding-top: var(--very-small-margins);
}

.details {
  padding-left:  var(--medium-margins);
}

.category {
  font-size: var(--medium-font);
  margin-top: var(--small-margins);
  padding-bottom: var(--small-margins);
  color: var(--primary-site-color);
  font-weight: bold;
  width: 50%;
  border-bottom: 3px solid var(--secondary-site-color);
}