.container {
  max-width: 800px;
  margin: auto;
}

.content {
  word-spacing: var(--deafult-word-spacing);
  max-width: var(--default-content-width);
}

.title {
  font-size: 3em;
}

.content {
  padding: auto var(--large-margins);
}

.content img {
  width: 100%;
  max-width: 600px;
  margin: var(--medium-margins) 0;
}

.content li p {
  font-size: 1em;
}

.content a {
  color: var(--primary-site-color);
  text-decoration: none;
  font-weight: bold;
}


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
