.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--content-margins);
  }
  
  .header {
    color: var(--primary-site-color);
    font-weight: bold;
    font-size: var(--very-large-font);
    width: 100%;
  }
  
  .details {
    margin: var(--medium-margins) 0;
  }
  
  
  .sidebarContent {
    display: none;
  }

  .articleDetails {
    display: flex;
    flex-direction: row;
  }

  .yearHeader {
    color: var(--primary-site-color);
    font-weight: bold;
    font-size: var(--large-font);
    width: 100%;
    border-bottom: 2px solid var(--secondary-site-color);
    margin: var(--large-margins) 0;
  }

  .articleDetails {
    margin: var(--very-small-margins) 0;
  }

  .articleDetails:hover {
    cursor: pointer;
  }

  .articleTitle {
    font-weight: bold;
    width: 85%;
  }

  .articleTitle:hover {
    color: var(--secondary-site-color);
  }

  .articleDate {
    margin: auto 0 auto auto;
    font-weight: bold;
  }
  
  @media only screen and (min-width: 768px) {
    .mainContent {
      width: 75%;
      margin: 0 auto;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .details {
      width: 100%;
    }
  
    .mainContent {
      width: 70%;
      margin: 0 var(--main-search-margin);
    }
  
    .sidebarContent {
      display: inline-block;
      margin-left: auto;
    }
  }
  