.container {
 display: flex;
 flex-direction: column;

}

.section {
    margin: 0 0  var(--content-margins);
}

.sectionHeader {
    text-decoration: underline;
}

.viewArticlesLink {
    text-decoration: none;
    font-size: var(--very-small-font);
    margin: auto;
    color: var(--primary-site-color);
}

.viewArticlesLink:visited {
 color: black;
}
@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
}