.container {
  display: flex;
  flex-direction: column;
  margin: var(--medium-margins);

}

.opener {
  margin: var(--large-margins) var(--very-small-margins);
  margin-bottom: var(--very-large-margins);
}

.openerTitle {
  color: var(--primary-site-color);
  margin: 0;
}

.logo {
  display: block;
  height: 50px;
  margin: 20px 0;
}

.openerContent {
  font-size: var(--small-font);
}

.learnMore {
  text-decoration: none;
  color: var(--primary-font-color);
}

.learnMoreButton {
  background-color: var(--secondary-site-color);
  width: 250px;
  padding: var(--small-margins) var(--medium-margins);
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  margin: var(--large-margins) 0;
  text-align: center;
}

.notNews {
  color: var(--primary-site-color);
  font-style: italic;
  font-weight: bold;
}

.opener h1 {
  font-size: var(--very-large-font);
  color: var(--default-text-color);
}

.opener h2 {
  font-size: var(--medium-font);
  color: var(--default-text-colo);
}

.viewArticlesLink {
  text-decoration: none;
  color: var(--primary-site-color);
}

.viewArticlesLink:visited {
  color: black;
}

.viewArticlesLink p {
  color: var(--primary-site-color);
  font-size: var(--small-font);
  margin-bottom: 70px;
}

.sectionHeader {
  color: var(--primary-site-color);
  font-weight: bold;
  font-size: var(--very-large-font);
  width: 100%;
  border-bottom: 3px solid var(--secondary-site-color);
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  margin-top: var(--very-large-margins);
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .sectionHeader {
    width: 75%;
  }

  .openerContent {
    width: 85%;
  }

  .opener {
    margin: var(--large-margins) var(--large-margins);
    margin-bottom: var(--very-large-margins);
  }

  .mainContent {
    flex-grow: 2;
    max-width: 70%;
  }

  .sidebarContent {
    width: 25%;
    flex-grow: 1;
  }
}
