.container {
  display: flex;
  flex-direction: column;
  padding: var(--medium-margins) 0;
  padding-bottom: var(--content-margins);
}

.postDetails {
  margin: var(--medium-margins) 0;
}

.title {
    margin: 0 0 var(--small-margins);
    font-size: var(--large-font);
}

.tagline {
  color: var(--secondary-text-color);
  margin: var(--small-margins) 0;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(161, 161, 161, 0.856);;
  margin-bottom: var(--large-margins);
  display: block;
}

.mainContent {
  margin-bottom: var(--large-margins);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 3px;
}

.headerImage {
  max-width: 700px;
  width: 100%;
  display: block;
  margin: var(--small-margins) 0;
  box-shadow: var(--box-shadow);
}

.additionContent {
  margin: var(--very-large-margins) auto;
}

.postMetadata {
  color: var(--primary-site-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-style: italic;
}

.postMetadata span {
  color: var(--secondary-site-color);
  margin: 0 var(--small-margins);
}

.category {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .additionContent {
    margin: var(--large-margins);
  }
}
