.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--very-large-margins);
}

.link {
  text-decoration: none;
  color: var(--primary-site-color);
}

.header {
  color: var(--primary-site-color);
  font-weight: bold;
  font-size: var(--very-large-font);
  width: 100%;
}

.details {
  margin: var(--medium-margins) 0;
}

.reviewDetails {
  display: flex;
  flex-direction: row;
}

.yearHeader {
  color: var(--primary-site-color);
  font-weight: bold;
  font-size: var(--large-font);
  width: 100%;
  border-bottom: 2px solid var(--secondary-site-color);
  margin: var(--large-margins) 0;
}

.reviewDetails {
  margin: var(--very-small-margins) 0;
  font-size: var(--medium-font);
}

.reviewDetails:hover {
  cursor: pointer;
}

.reviewTitle {
  font-weight: bold;
  width: 85%;
}

.reviewTitle:hover {
  color: var(--secondary-site-color);
}

.reviewGrade {
  margin: auto 0 auto auto;
  font-weight: bold;
  border: 1px solid black;
  padding: 2px 15px;
}

.sidebarContent {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mainContent {
    width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .details {
    width: 100%;
  }

  .mainContent {
    width: 70%;
    margin: 0 var(--main-search-margin);
  }

  .sidebarContent {
    display: inline-block;
    margin-left: auto;
  }
}
