.container {
    padding-bottom: 200px;
    max-width: 800px;
    margin: auto;
  }
  
  .content {
    word-spacing: var(--deafult-word-spacing);
    max-width: var(--default-content-width);
  }
  
  .title {
    font-size: 3em;
  }
  
  .content h2 {
    font: 1.6em;
    font-weight: bold;
  }
  
  .content h3 {
    font: var(--large-font);
    font-weight: bold;
  }

  .content p {
    font: var(--medium-font);
  }
  
  .content img {
    width: 100%;
    margin: var(--medium-margins) auto;
  }
  
  .content a {
    color: var(--primary-site-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  
  @media only screen and (min-width: 768px) {
  }
  
  @media only screen and (min-width: 768px) {
  }
  
  @media only screen and (min-width: 1024px) {
  }
  