.container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--content-margins);
}

.mainContent {
  padding: var(--medium-margins) 0;
  margin-bottom: var(--large-margins);
  max-width: 700px;
  margin: 0 auto;
}

.additionContent {
  margin: var(--very-large-margins) auto;
}

.link {
  text-decoration: none;
  color: var(--primary-site-color);
}
